@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
    --mainFont: "Space Mono", sans-serif;

    /* Colors */
    /* Primary */
    --strongCyan: hsl(172, 67%, 45%);
    /* Neutral */
    --veryDarkCyan: hsl(183, 100%, 15%);
    --darkGrayishCyan: hsl(186, 14%, 43%);
    --darkGrayishCyanTwo: hsl(184, 14%, 56%);
    --lightGrayishCyan: hsl(185, 41%, 84%);
    --lightGrayishCyanTwo: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--lightGrayishCyan);
    font-family: var(--mainFont);
    font-size: 1rem;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] { 
    -moz-appearance: textfield; 
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3.125rem 0 2.543rem;
}

@media (min-width: 1200px) {
    .header {
        margin: 10.188rem 0 5.491rem;
    }
}

.main {
    background-color: var(--white);
    border-radius: 25px 25px 0 0;
    width: 100%;
    max-width: 920px;
    margin: 0 auto;
    box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
}

@media (min-width: 1200px) {
    .main {
        border-radius: 25px;
        display: grid;
        grid-template-columns: 46.41% 48.37%;
        align-items: center;
        gap: 3rem;
    }
}

.bill {
    padding: 2rem;
}

@media (min-width: 1200px) {
    .bill {
        padding: 2.813rem 0 3rem 3rem;
        display: inline-block;
    }
}

.input-group {
    position: relative;
}

.input-group label {
    display: inline-block;
    font-weight: 700;
    color: var(--darkGrayishCyan);
}

.input-group .input {
    margin-top: 0.375rem;
    width: 100%;
    appearance: none;
    -moz-appearance: textfield;
    border: 2px solid transparent;
    background-color: #f3f3fa;
    border-radius: 5px;
    font-family: inherit;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--veryDarkCyan);
    text-align: right;
    padding: 0.25rem 1.093rem;
    background-repeat: no-repeat;
}

.input.input-bill {
    background-image: url(../img/icon-dollar.svg);
    background-size: 9.84px;
    background-position: left 19.26px center;
}

.input.input-people {
    background-image: url(../img/icon-person.svg);
    background-size: 13px;
    background-position: left 17px center;
    background-color: #f3f9fa;
}

.input-group .input::placeholder {
    opacity: 35%;
}

.input-group .input:focus {
    outline: none;
    border: 2px solid var(--strongCyan);
}

.input-group .input::-webkit-inner-spin-button,
.input-group .input::-webkit-outer-spin-button {
    -webkit-appearance: none; 
    margin: 0; 
}

.invalid-feedback {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    color: #E17457;
    font-weight: 700;
}

.input-group.is-valid > .input {
    border: 2px solid var(--strongCyan);
}

.input-group.is-invalid > .input {
    border: 2px solid #E17457;
}

.input-group.is-invalid > .invalid-feedback {
    display: block;
}

.tips {
    margin: 2rem 0;
}

@media (min-width: 1200px) {
    .tips {
        margin: 2.5rem 0;
    }
}

.tips-title {
    font-weight: 700;
    color: var(--darkGrayishCyan);
    font-size: 1rem;
    margin-bottom: 1rem;
}

.tips-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 1rem;
    column-gap: 1.063rem;
}

@media (min-width: 1200px) {
    .tips-container {
        grid-template-columns: repeat(3,1fr);
        column-gap: 0.875rem;
    }
}

.tip {
    background-color: var(--veryDarkCyan);
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 0.25rem 0;
    font-size: 1.5rem;
    width: 100%;
    font-family: inherit;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
}

.tip:focus {
    outline: none;
}

.tip.selected {
    background-color: var(--strongCyan);
    color: var(--veryDarkCyan);
}

.input-tip {
    background-color: #f3f9fa;
    color: var(--veryDarkCyan);
    padding: 0.25rem 1.083rem;
    cursor: text;
    text-align: right;
}

@media (min-width: 1200px) {
    .input-tip {
        padding: 0.25rem 0.938rem 0.25rem 0;
    }
}

.input-tip:focus {
    border: 2px solid var(--strongCyan);
}

.input-tip.selected {
    background-color: #f3f9fa;
    color: var(--veryDarkCyan);
    border: 2px solid var(--strongCyan);
}

.input-tip.invalid {
    border: 2px solid #E17457;
}

.input-tip::placeholder {
    opacity: 100%;
    color: #547878;
}

.result {
    padding: 0 1.5rem 2rem;
} 

@media (min-width: 1200px) {
    .result {
        padding: 2rem 2rem 2rem 0;
    }
}

.result-container {
    background-color: var(--veryDarkCyan);
    border-radius: 15px;
    padding: 2.313rem 1.375rem 1.5rem 1.5rem;
    color: #ffffff;
}

@media (min-width: 1200px) {
    .result-container {
        padding: 2.5rem;
    }
}

.result-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 700;
}

.result-text:first-of-type {
    margin-bottom: 1.25rem;
}

@media (min-width: 1200px) {
    .result-text:first-of-type {
        margin-bottom: 1.563rem;
    }
}

.result-text .tip-amount span,
.result-text .total span {
    display: block;
    font-size: 0.813rem;
    color: #7F9D9F;
}

.result-text .price {
    font-size: 2rem;
    color: var(--strongCyan);
    letter-spacing: -0.67px;
}

@media (min-width: 1200px) {
    .result-text .price {
        font-size: 3rem;
        line-height: 71px;
    }
}

.btn-reset {
    width: 100%;
    margin-top: 2rem;
    background-color: #26C2AE;
    color: #00474B;
    text-transform: uppercase;
    border: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 1.25rem;
    padding: 9.5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

@media (min-width: 1200px) {
    .btn-reset {
        margin-top: 7.625rem;
    }
}

.btn-reset:hover {
    background-color: #9FE8DF;
}

.btn-reset:disabled {
    background-color: #0D686D;
    cursor: not-allowed;
}